body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.admin--container {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 5px;
  justify-content: center;

}

/* navbar.component css */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: #282c34;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.nav--title {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav--ul {
  display: flex;
  list-style: none;
}

.nav--ul>li>a {
  /* hover */
  margin: 0 10px;
  color: #fff;
}